<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weihnachtswichteln</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Trage dich für das<br> Weihnachtswichteln ein<br>🎁 </h1>
    <form action="/add" method="post">
        <label for="first_name">Vorname:</label>
        <input type="text" name="first_name" required>

        <label for="email">E-Mail-Adresse:</label>
        <input type="email" name="email" required>

        <p>2 Dinge, über die du dich <u>nicht</u> freuen würdest (optional)</p>
        <label for="dislikes1">Mag ich nicht:</label>
        <input type="text" name="dislikes1" placeholder="z.B. Krawatte">

        <label for="dislikes2">Mag ich nicht:</label>
        <input type="text" name="dislikes2" placeholder="z.B. Socken">

        <button type="submit">Hinzufügen</button>
    </form>
    <button onclick="location.href='/assign'">Zuweisung starten</button>
</body>
</html>
